<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <% users.push({email:'new email', username:'Jaś'}) %> <% for(let i = 0 ; i <
    users.length ; i++){ %>
    <p>
      email: <b><%= users[i].email %></b> | username:
      <b><%= users[i].username %></b>
    </p>
    <% } %> <% users.forEach(user => { %>
    <p>
      email: <b><%= user.email %></b> | username:
      <b><%= user.username %></b>
    </p>
    <% }) %>
  </body>
</html>
